@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.heading>h2 {
   border: 1px solid black;
   display: inline-block;
   font-family: 'Montserrat', sans-serif;
   font-weight: lighter;
   letter-spacing: 0.3rem;
   margin-left: 7.9rem;
   padding: 3rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.card-primary {
   border: 1px solid black;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

.card-text {
   margin: 2rem;
}

.card-text>h3 {
   font-family: 'Work Sans', sans-serif;
   font-size: 2rem;
   margin-top: 0;
   margin-bottom: 0;
}

.card-text>p {
   font-family: 'Montserrat', sans-serif;
}

.container {
   margin-left: 20rem;
   margin-right: 22rem;
}

.feature-post {
   margin-top: 3.5rem;
   margin-bottom: 6rem;
}

img {
   width: 100%;
}