@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');
.container {
   margin-left: 20rem;
   margin-right: 22rem;
}

.message {
   font-family: 'DM Serif Display', serif;
   font-size: 2rem;
   margin: 1rem;
   margin-top: 3rem;
   margin-bottom: 2rem;
}