.links>a {
   height: 2rem;
   border-left: 1px solid black;
   padding-left: 4rem;
   padding-right: 4rem;
}

a {
   text-decoration: none;
   color: black;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

a:first-child {
   border-left: none;
   margin-right: 21rem;
   padding-left: 0;
   padding-right: 0;
}

a:last-child {
   border-right: 1px solid black;
}

hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border-bottom: none;
}