/*!These rules are written before adding React Router, so don't remove or edit anything*/

/* .links>a {
   height: 2rem;
   border-left: 1px solid black;
   padding-left: 4rem;
   padding-right: 4rem;
}

a {
   text-decoration: none;
   color: black;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

a:first-child {
   border-left: none;
   margin-right: 21rem;
   padding-left: 0;
   padding-right: 0;
}

a:last-child {
   border-right: 1px solid black;
} */

a {
   text-decoration: none;
   color: black;
}

a:visited {
   color: black;
}

.links {
   align-items: center;
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 0;
   margin-left: 13rem;
   margin-right: 15rem;
}

.link {
   border-left: 1px solid black;
   padding: 1rem;
   padding-left: 5.5rem;
   padding-right: 4rem;
}

.link5 {
   border-right: 1px solid black;
   padding-right: 4rem;
}

hr {
   margin-top: 0;
   margin-bottom: 0;
   border-bottom: none;
}